<div class="container">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-4">
        <div class="col d-flex flex-column align-items-center align-items-md-start">
            <h5>BOUPETIQUE</h5>
            <p>"Mascotas mas felices, vidas mejor cuidadas"</p>
        </div>
        <div class="col d-flex flex-column flex-md-row align-content-between align-items-center align-items-md-start">
            <div class="d-flex flex-column gap-1 text-center text-md-start">
                <h5>NAVEGACION</h5>
                <a href="/index.html" class="footer-l-p" style="color: #F6F0E3;">Inicio</a>
                <a href="/html/acerca.html" class="footer-l-p" style="color: #F6F0E3;">Acerca de</a>
                <a href="/html/productos.html" class="footer-l-p" style="color: #F6F0E3;">Productos</a>
                <a href="/html/login.html" class="footer-l-p" style="color: #F6F0E3;">Login</a>
                <a href="/html/registro.html" class="footer-l-p" style="color: #F6F0E3;">Registro</a>
            </div>
            <div class="ms-md-3 d-flex flex-column gap-1 text-center text-md-start mt-3 mt-md-0">
                <h5>CONTACTO</h5>
                <a href="tel:+525512345678" class="footer-l-p" style="color: #F6F0E3;">+525512345678</a>
                <a href="mailto:info@boupetique.com" class="footer-l-p text-truncate" style="color: #F6F0E3; max-width: 130px;">info@boupetique.com</a>
            </div>
        </div>
        <div class="col d-flex flex-column align-items-center text-center gap-2">
            <h5>Siguenos</h5>
            <div>
                <div class="btn-mi-color rounded-circle d-inline-flex justify-content-center align-items-center me-2" style="width: 40px; height: 40px;">
                    <a href="https://instagram.com" target="_blank" rel="noopener noreferrer" style="color: #F6F0E3;">
                        <i class="fa-brands fa-instagram fa-xl"></i>
                    </a>
                </div>
                <div class="btn-mi-color rounded-circle d-inline-flex justify-content-center align-items-center me-2" style="width: 40px; height: 40px;">
                    <a href="https://facebook.com" target="_blank" rel="noopener noreferrer" style="color: #F6F0E3;">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </div>
                <div class="btn-mi-color rounded-circle d-inline-flex justify-content-center align-items-center me-2" style="width: 40px; height: 40px;">
                    <a href="https://youtube.com" target="_blank" rel="noopener noreferrer" style="color: #F6F0E3;">
                        <i class="fa-brands fa-youtube fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <p class="text-center">&copy; 2026 Boupetique. Todos los derechos reservados.</p>
</div>
