<nav id="nav" class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a id="logo-home" class="navbar-brand d-none d-lg-flex align-items-center gap-2" href="index.html">
            <!-- <img src="/assets/logo-img/logo-boupetique.png" alt="Logo Boupetique" width="40" height="40" class="rounded-2 shadow-sm object-fit-cover"> -->
            <img src="/assets/logo-img/logo-boupetique.png" alt="Boupetique" height="40" class="d-inline-block">
            <span class="fw-semibold fs-5 text-white">Boupetique</span>
        </a>
        <div class="d-flex align-items-center gap-2 d-lg-none">
            <a class="navbar-brand d-flex align-items-center m-0" href="index.html">
                <div class="logo-badge text-white fw-bold d-flex justify-content-center align-items-center rounded-2 shadow-sm"
                    style="width: 35px; height: 35px;">
                    BP
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link" data-nav="inicio" href="index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-nav="productos" href="productos.html">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-nav="acerca" href="acerca.html">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-nav="contacto" href="contacto.html">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-nav="login" href="login.html">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-nav="registro" href="registro.html">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" role="button" target="_blank" rel="noopener noreferrer">
                        Proximamente
                    </a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search" />
                <button class="btn btn-mi-color" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>
