@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap");

:root {
/*PALETA DE COLORES BOUPETIQUE*/
    --boupetique-olive: #5E7C64;
    --boupetique-gris: #34483D;
    --boupetique-gris-ceniza: #A8B5A0;
    --boupetique-chocolat: #D96B27;
    --boupetique-crema-almendras: #E7D8C9;
    --boupetique-cremita: #F6F0E3;
    --boupetique-negro-azabache: #2F3A3D;
    --boupetique-gris-alabastro: #D9E1DE;

/*TIPOGRAFIAS*/

    --font-family: "Crimson Pro", serif;
    --font-optical-sizing: auto;
    --font-weight: <weight>;
    --font-style: normal;


}

/*
****************************
* CSS para Nav-bar [Inicio]
*****************************
*/
/*? Estilo para el contenedor del monograma: logo con css */
.logo-badge {
    font-family: "Crimson Pro", Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: -1px;
    background: linear-gradient(135deg, #34483D 0%, #5E7C64 100%); 
    transition: transform 0.5s ease-in-out; 
}

/*? Efecto hover interactivo al pasar el mouse por encima */
.navbar-brand:hover .logo-badge {
    transform: scale(1.1);
}

/*? Forzamos el color de la barra de navegación para que ignore los grises de Bootstrap */
#nav.navbar {
    background-color: #A8B5A0 !important; 
}

/*? Cambiamos color de boton buscar por paleta de colores */
.btn-mi-color {
    color: #F6F0E3; /* cambia color de letra Buscar*/
    background-color: #34483D; /* Cambiá este color de fondo */
    border-color: #5E7C64;    /* Cambiá este color de borde */
}

/*? Color del botón buscar al pasar el cursor */
.btn-mi-color:hover {
    background-color: #2F3A3D; /* Color al pasar el cursor por encima */
    border-color: #E7D8C9;
    color: #ffffff;
}
/*
****************************
*? CSS para Nav-bar [Fin]
*****************************
*/